<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	.completed {
		color : red;
		text-decoration: line-through;
		font-style: italic;
	}
	</style>
	<script src="angular.js"></script>
	<script>
	function taskController($scope){
		$scope.tasks = {
			newTask : "",
			items : [],
			add : function(){
				var taskName = this.newTask;
				this.items.push({name : taskName, isCompleted: false, toggleCompletion : function(){
					this.isCompleted = !this.isCompleted;
				}});
				this.newTask = "";
			},
			removeCompleted : function(){
				for(var i=this.items.length-1;i>=0;i--)
					if (this.items[i].isCompleted) this.items.splice(i,1);
			}
		};
	}
	</script>
</head>
<body  ng-app>
	<div ng-controller="taskController">
		<h1>Task Manager</h1>
		<span>Task :</span>
		<input type="text" ng-model="tasks.newTask">
		<input type="button" value="Add Task" ng-click="tasks.add()" ng-disabled="tasks.newTask === ''">
		<input type="button" value="Remove Completed" ng-click="tasks.removeCompleted()">
		<ul>
			<li ng-repeat="task in tasks.items" ng-click="task.toggleCompletion()" ng-class="{completed : task.isCompleted}">
				{{task.name}}
			</li>
		</ul>
	</div>
</body>
</html>